<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="container">
    <h1>Arcade Cabinets for Sale</h1>
    <% if(username) {%>
    Welcome, <%=username%>
  <%}%>
      <ul>
        <% for(let i = 0; i < arcade.length; i++){%>
        <h2> <%=Arcade.[i]Game%> </h2>
        <img src="<%=Arcade.Image%>" alt="<%=Arcade.Game%>">
        <p>Publisher: <%=Arcade.Publisher%></p>
        <p>Originally Released in: <%=Arcade.Year%></p>
        <p>Genre: <%=Arcade.Genre%></p>
        <p>Buy Now For: <%=Arcade.Price%></p>
  <%}%>
      </ul>
    </div>
  </body>
</html>
