<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="container">
    <h1> <%=Arcade.game%> </h1>
    <img src="<%=Arcade.image%>" alt="<%=Arcade.game%>">
    <h2>Publisher: <%=Arcade.Publisher%></h2>
    <h2>Originally Released in: <%=Arcade.Year%></h2>
    <h2>Genre: <%=Arcade.Genre%></h2>
    <h2>Buy Now For: <%=Arcade.Price%></h2>
    <nav>
      <a href="/arcade/views/home.ejs">Go Back</a>
    </nav>
  </div>
</body>
</html>
